bad-script{
  font-family: 'Bad Script', cursive;
}
a:active {
    font-family: 'Bad Script', cursive;
}

body {
  background-color:#d1faec ;
  color:#021710;
  transition: all 0.8s ease-in;
  overflow-x: hidden;
}     
header {
  color:#021710;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
  background-color:#d1faec ;
  border-style: double;
  border-width: 4px;
  border-color: #801a00;
  text-align: center;
  text-decoration: bold;
  color:#021710;
}

h1  {
  font-family: 'Bad Script', cursive;
  border-style: double;
  border-width: 7px ;
  border-color: #801a00;
  text-shadow: 1px 1px #000000;
  text-align: center;
  background-color:#d1faec ;
  color:#021710 ; 
}

h3 {
  font-family: 'Bad Script';
  border-style: double;
  border-width: 7px ;
  border-color: #801a00;
  text-shadow: 1px 1px #000000;
  text-align: center;
  background-color:#d1faec ;
  color:#021710 ; 
}

p {
  font-family: 'Bad Script', cursive;
  text-justify: auto;
  text-align: center ;
  font-size: 20px ;
  background-color:#d1faec ;
  color: #021710;
  text-decoration: bold;
}


h2 {
  text-align: center;
  text-decoration: bold;
  color: #021710;
}

.footer{
   background-color: #25a2d0 ;            
   height: 100% ;
   width:auto ;
   color: #021710 ;
   border-style: double;
   border-width: 4px;
   border-color: #801a00;
}

/*Contact me form*/
.container{
  text-align: left;
}

contact1{
  color:#021710 ;
  text-shadow: 1px 1px #000000;
  text-align: center;
  background-color:#d1faec ;
  font-size:x-large;
}

/*dark/light toggle*/
.dark-mode {
  background: #052e20;
  color: #ffffff ;
  transition: all 0.4s ease-in;
}  

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  transition: 0.4s;
  border-radius: 50%;
  align-items: center ;
}

input:checked+.slider {
  background-color:#d1faec ;
}

input:focus+.slider {
  box-shadow: 0 0 2px #2196f3 ;
}

input:checked+.slider:before {
  transform: translateX(1.63rem);
}




/*Image Slider*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4.25rem);
  place-content: center;
  gap: 1rem;
  text-align: center;
}

#slider {
  position: relative;
  width: 500px;
  height: 400px;
}
#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
#slider img.active {
  opacity: 1;
}
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #2196f3;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #730c30;
  color: #021710;
  font-size: 32px;
  font-stretch: condensed;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color:#d1faec ;
}

button#prev {
  left: -35px;
  padding: 7px 17px 7px 15px;
}

button#next {
  right: -35px;
  padding: 7px 15px 7px 17px;
}
/*end image slider*/


/*slide in effect*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 3rem;
}

.subheading {
  font-size: 1.5rem;
  color: #000;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.item__content {
  background-color: #730c30;
  color: #021710;
  text-align: center;
  padding: 7rem;
  border-radius: 7px;
}

.item > p {
  text-align: center;
  text-align: center ;
  font-size: 20px ;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}


.strong {
  text-align: center;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}